#categories {
  display: block;
  transition:all 0.5s;
  left: 0%;
}
#categories .item {
  background: #FFFFFF;

}
#categories .item .img {
  background: url(img/furniture-sprite.png) no-repeat;
}
#categories .item.selected {
  display: none;
}
#cat-holder{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4%;
  grid-column-gap: 20px;
  width:92%;
  height: 74%;
}

#categories.animate-categories-out{

  position: absolute;
  left: -100%;
  opacity: 0;

}
