#categories {
  display: block;
  transition:all 0.5s;
  left: 0%;
}
#categories .item {
  background: #FFFFFF;
}
#categories .item .img {
  background: url(img/furniture-sprite.png) no-repeat;
}
#categories .item.selected {
  display: none;
}


#categories.animate-categories-out{

  position: absolute;
  left: -100%;
  opacity: 0;

}
