a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Colfax-Regular', sans-serif;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}
ul{
  list-style: none;
}
input {
  color: inherit;
  font-family: inherit;
}
input:focus {
  outline: none;
}
#wrapper {
  width: 940px;
  margin: -1px auto 0;
  padding-top: 1px;
  padding-bottom: 50px;
}
#content{
  min-height: 471px;
}
#wrapper .heading {
    letter-spacing: 0.13px;
    padding: 31px 0 13px 19px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.21);
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: rgba(44, 44, 44, 0.5);
    background: #f8f8f8;
    border-radius: 10px 10px 0 0;
    text-transform: capitalize;
}
.bold {
  font-family: 'Colfax-Medium';
}
@font-face {
  font-family: 'Colfax-Regular';
  src: url('./fonts/Colfax-Regular.eot');
  src: url('./fonts/Colfax-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/Colfax-Regular.woff2') format('woff2'), url('./fonts/Colfax-Regular.woff') format('woff'), url('./fonts/Colfax-Regular.ttf') format('ttf'), url('./fonts/Colfax-Regular.svg#Colfax-Regular') format('svg');
}
@font-face {
  font-family: 'Colfax-Bold';
  src: url('./fonts/Colfax-Bold.eot');
  src: url('./fonts/Colfax-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/Colfax-Bold.woff2') format('woff2'), url('./fonts/Colfax-Bold.woff') format('woff'), url('./fonts/Colfax-Bold.ttf') format('ttf'), url('./fonts/Colfax-Bold.svg#Colfax-Bold') format('svg');
}
@font-face {
  font-family: 'Colfax-Medium';
  src: url('./fonts/Colfax-Medium.eot');
  src: url('./fonts/Colfax-Medium.eot?#iefix') format('embedded-opentype'), url('./fonts/Colfax-Medium.woff2') format('woff2'), url('./fonts/Colfax-Medium.woff') format('woff'), url('./fonts/Colfax-Medium.ttf') format('ttf'), url('./fonts/Colfax-Medium.svg#Colfax-Medium') format('svg');
}
@font-face {
  font-family: 'Colfax-Light';
  src: url('./fonts/Colfax-Light.eot');
  src: url('./fonts/Colfax-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/Colfax-Light.woff2') format('woff2'), url('./fonts/Colfax-Light.woff') format('woff'), url('./fonts/Colfax-Light.ttf') format('ttf'), url('./fonts/Colfax-Light.svg#Colfax-Light') format('svg');
}
.clearfix {
  position: relative;
}

@keyframes popout {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}
@keyframes popin {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}
.scaleDown {
  animation: shrink 0.5s ease-in forwards;
}
.animate-out {
  animation: popout 0.4s ease-in forwards;
}
.animate-in {
  display: block !important;
  animation: popin 0.4s ease-in;
}
.animate-in2 {
  display: block !important;
  animation: popin 0.8s ease-in;
}
.popped {
  display: block !important;
  transform: scale(1);
}

.main {
  width: 71.914893617021277%;
  height: 471px;
  overflow: hidden;
  cursor: move;
  background: rgba(236, 236, 236, 0.38);
  border-radius: 10px;
  position: relative;
  display: none;
}
.main .overflow {
  overflow-y: hidden;
  height: 412px;
  position: relative;
}
.main .holder {
  padding: 34px 0;
  position: relative;
  width: 100%;
  height: 79%;
  top:0;
  overflow-y: scroll;
}
.main .item {
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px #DCDCDC;
  border-radius: 11px;
  position: relative;
}
.main .item .img {
  width: 100%;
  height: 0;
  padding-bottom: 98.5%;
  border-radius: 11px;
  pointer-events: none;
}
.main .item .bottom {
  height: 34px;
  border-top: 1px solid rgba(151, 151, 151, 0.11);
  overflow: hidden;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}
.main .item .bottom h4 {
  text-align: center;
  letter-spacing: 0.27px;
  text-transform: capitalize;
  color: #3F3F3F;
  letter-spacing: 1.29px;
  font-family: 'Colfax-Medium';
  font-size: 10px;
  line-height: 12px;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main .item:hover {
  box-shadow: 0px 0px 0px 2px rgba(73, 177, 211, 0.45);

}
#back-btn {
    background: url(/img/back-btn.svg) no-repeat;
    top: -19px;
    left: -18px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
